# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Project Specific Data & Artifacts
*.mat
*.npz
*.ipynb
*.pth
*.pt
data/
.vscode/
downloads/
logs/
checkpoint.pth
checkpoint.pth.temp

# Distribution / Packaging
build/
dist/
*.egg-info/